<header class="Header Flex Flex--alignCenter Flex--justifyBetween">
   <h1 class="Text--xl">
      <a href="/">
         {{ site.title }}
      </a>
   </h1>
   <div class="Flex Flex--alignCenter">
       <a href="about.html" class="Link Header-Link">about</a>

      {% for site, link in site.social %}
         <a href="{{link | mailHref }}" rel="noopener" target="_blank" class="Link Header-Link">{{ site }}</a>
      {% endfor %}
   </div>
</header>